body {
    display: flex;
    justify-content: center;
}

.start {
    width: 1180px;
    height: 60px;
    font-weight: 500;
    font-size: 48px;
    color:#2E363E;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 60px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-row: repeat (3, 1fr);
    width:1180px;
    height: 1786px;
    gap: 20px;
    margin-top: 59px;
}

.cake {
    box-shadow:#C2C6D00F;
    border: 0.5px solid black;
    border-radius: 10px;
    align-self: auto;
    width: 380px;
}

.name {
    color:#2E363E;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    margin-bottom: 12px;
    margin-left: 24px;
    margin-top: 40px;
}

.content {
    color:#2E363E;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;
    margin-left: 24px;
    width: 200px;
    font-family: "Montserrat";
    letter-spacing: 0;
}

.cost {
    color:#598D66;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 20px;
    margin-left: 24px;
}

.btn {
    border: 1px solid #FED84C;
    background-color: #FED84C;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    padding: 20px 40px;
    width: 163px;
    height: 68px;
    color: #2E363E;
    margin-left: 24px;
    border-radius: 8px;
}
