body {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-row: repeat (3, 1fr);
    width:730px;
    height: 1448px;
    gap: 30px;
    margin-top: 85px;
    margin-left: 60px;
    margin-bottom: 30px;
}

.card {
    padding: 20px 20px 30px 20px;
    background-color: #E1EDE6;
    width: 350px;
    height: 730px;

}

.author {
    color:#86928B;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.name {
    color:#2C2D35;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 8px;
}

.materials {
    color:#2C2D35;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 30px;
}

.price {
    color:#598D66;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 20px;
}

.btn {
    border: 1px solid #598D66;
    color: #598D66;
    background-color: transparent;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    padding: 21px 106px;
}