body {
    margin-left: 30px;
}

.rotate {
    width: 100px;
    height: 100px;
    background-color: blue;
    transform: rotate(300deg);
    margin-top: 50px;
    margin-bottom: 30px;
    animation: rotate 2s infinite;
}

@keyframes rotate {
    from { transform: rotate(0deg);
    }
    to { transform: rotate(300geg);
    }
}

.scale {
   width: 100px;
   height: 100px;
   background-color: blue;
   border-radius: 50%;
   animation: pulse 2s infinite;
   margin-bottom: 30px;
}

@keyframes pulse {
   0% {
       transform: scale(1);
       opacity: 1;
   }
   50% {
       transform: scale(1.5);
       opacity: 0.5;
   }
   100% {
       transform: scale(1);
       opacity: 1;
   }
}

.translate {
   width: 100px;
   height: 100px;
   background-color: green;
   position: relative;
   animation: slideRight 3s infinite alternate;
    margin-bottom: 30px;
}

@keyframes slideRight {
   from {
       transform: translateX(0);
   }
   to {
       transform: translateX(300px);
   }
}


.skew {
    width: 100px;
    height: 100px;
    background-color: green;
    transform: skew(25deg, 10deg);
    margin-bottom: 30px;
}
.transition {
    width: 100px;
    height: 100px;
    background-color: yellow;
    transition: background-color 2s ease-in-out;
    margin-bottom: 30px;
}

.transition:hover {
    background-color: aqua;
}

.frames {
    width: 100px;
    height: 100px;
    background-color: red;
    animation: frames 2s;
}

    @keyframes frames {
        0% {background: red;
    }
        50% {background: yellow;
    }
        100% {background: green;
    }
    }