.box {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
}

.text {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);

} 

.linear {
    background: linear-gradient(to right, red, yellow);
    width: 300px;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.radial {
    background: radial-gradient(circle, red, yellow, green);
    width: 300px;
    height: 300px;
} 

