body {
    margin-top: 100px;
    font-family: sans-serif;
    width: 1300px;
    height: 1348px;
}

.card {
    background-color: #000000;
    display: flex;
    align-items: center;
    gap: 45px;
    padding: 40px;
    border-radius: 32px;
    width: 1270px;
    height: 545px;
}

.card-block {

}

.badge {
    background-color: #191919;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    width: 73px;
    line-height: 27px;
    padding: 0 16px;
    border-radius: 6px;
    margin-bottom: 48.44px;
}

.episode {
    color: #118DA8;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 17px;
    top: 83px;
}

.title {
    font-weight: 400px;
    font-size: 64px;
    line-height: 70.4px;
    color: #fff;
    margin-bottom: 28px;
    top:127.56px;
}

.subtitle {
    font-weight: 400px;
    font-size: 22px;
    line-height: 33px;
    width: 757px;
    height: 99px;
    color: #fff;
    opacity: 0.7;
    margin-bottom: 18px;
    top:296.56px;
}

.btn {
    width: 208px;
    height: 51px;
    top:413.56px;
    background-color: #118DA8;
    font-weight: 400px;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    border-radius: 6px;
    border:none;
    padding: 12px 15px 12px 20px;
}

.card2 {
    padding: 40px;
    background-color: #E1EDE6;
    width: fit-content;
    top: 834px;
    margin-top: auto;
    gap: 20px;
}

.author {
    color:#86928B;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
    top: 285px;
}

.name {
    color:#2C2D35;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 8px;
}

.materials {
    color:#2C2D35;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 30px;
}

.price {
    color:#598D66;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 20px;
}

.btn2 {
    border: 1px solid #598D66;
    color: #598D66;
    background-color: transparent;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    padding: 21px 106px;
}

.card3 {
    width: 380px;
    height: 582px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: auto;
}

.forPadding {
    padding: 50px 44px;
}

.name1 {
    font-family: "Montserrat";
    width: 247px;
    height: 45px;
    color: #2E363E;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;   
}

.content {
    color:#2E363E;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;   
    margin-bottom: 16px;
} 

.cost {
    color: #434B53;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 14px;
}

.btn3 {
    width: 163px;
    height: 68px;
    background-color: #FED84C;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    border: none;
    border-radius: 8px;
    padding: 20px 40px
}

.card4 {
    width: 400px;
    height: 400px;
    border-radius: 8px;   
    background-color:#0C0B15;
    padding-top: 30px;
    margin-top: auto;
}

.fotos {
    display: flex;    
}

.eclipse {
    margin-right: 280px;
}
.box1 {
    padding: 20px 30px;
}

.about {
    height: 27px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 20px;
}

.FIO {
    color: #809FB8;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    width: 262px;
    letter-spacing: 0cm;
    font-family: "Proxima Nova";
    margin-bottom: 20px;
}

.phrase {
    color: #809FB8;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    width: 260px;
    letter-spacing: normal;
    font-family: "Proxima Nova";
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 1348px;
}