body {
    border: #598D66 solid 1px;
    background-color: #f2f4f4;
}

.container1 {
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu {
   flex: 1;
   height: 200px;
   font-size: 20px;
   background-color:#598D66;
   display: flex;
   align-items: center;
}

.star {
    color: #598D66;
    weight: 700;
    size: 20px;
    line-height: 100%;
    font-family: Raleway;
}

.menu .mobile2 a{
    text-decoration: none;
}

.menu .mobile2 ul{
    list-style-type: none;
}

.menu .mobile1 {
    background-color: #598D66;

}
@media (max-width: 480px) {
   .container1 {
        display: flex;
        flex-direction: column;
        column-count: 1;  
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;     
   }
   .menu {
        background-color: #598D66;
   }
   .btn {
        background-color: #598D66;
        border: none;
   }
   .mobile1 {
        
   }
   .mobile2 {
        display:none;
   }
   .mobile4 {
        display:none;
   }
   .left{
        padding-left: 10px;
        background-color:#598D66;
   }
   .right {
        margin-left: 200px;
        background-color:#598D66;
   }
     .star {
        align-items: center;
        width: 143px;
        height: 53px;
        display: flex;
   }
   .mobile1 {

   }
   .bird {
        display: none;
   }
   .container2 {
        width: 290px;
        height: 233px;
        margin-top: 60px;
        margin-left: 15px;
        background-color: #f2f4f4;
   }
   .replica {
        font-weight: 500;
        size: 30px;
        line-height: 100%;
        margin-bottom: 20px;
   }
   .replica::after {
        content: "Inc. House";
        color:#598D66;
        font-weight: 500;
        size: 30px;
        line-height: 100%;
        margin-bottom: 20px;
   }
   .details {
        width: 290px;
        height: 63px;
        size: 14px;
        line-height: 150%;
        color: #86928B;
        margin-bottom: 40px;
   }
   .btn2 {
        width: 154px;
        height: 50px;
        background-color: #f2f4f4;
        font-weight: 500px;
        font-size: 18px;
        line-height: 100%;
        color: #598D66;
        border:1px solid #598D66;
        align-content: center;
        align-items: center;
        padding: 20px 60px 20px 60px;
        gap: 6px;
   }
}

@media (max-width: 690px) {
   .container1 {
       width: 576px;
       height: 123px;


   }
   .menu {
        background-color: #598D66;
   }
   .btn {
        background-color: #598D66;
        border: none;
   }
   .mobile1 {
        
   }
   .mobile2 {
        display:none;
   }
   .mobile4 {
        display:none;
   }
   .left{
        padding-left: 10px;
        background-color:#598D66;
   }
   .right {
        margin-left: 200px;
        background-color:#598D66;
   }
    .star {
        align-items: center;
        width: 143px;
        height: 35px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;   
          flex-direction: column;
          column-count: 2;
          background-color: #598D66;
   }
   .mobile1 {

   }
   .bird {
        display: none;
   }
   .container2 {
        width: 290px;
        height: 233px;
        margin-top: 60px;
        margin-left: 15px;
        background-color: #f2f4f4;
   }
   .replica {
        font-weight: 500;
        size: 30px;
        line-height: 100%;
        margin-bottom: 20px;
   }
   .replica::after {
        content: "Inc. House";
        color:#598D66;
        font-weight: 500;
        size: 30px;
        line-height: 100%;
        margin-bottom: 20px;
   }
   .details {
        width: 290px;
        height: 63px;
        size: 14px;
        line-height: 150%;
        color: #86928B;
        margin-bottom: 40px;
   }
   .btn2 {
        width: 154px;
        height: 50px;
        background-color: #f2f4f4;
        font-weight: 500px;
        font-size: 18px;
        line-height: 100%;
        color: #598D66;
        border:1px solid #598D66;
        align-content: center;
        align-items: center;
        padding: 20px 60px 20px 60px;
        gap: 6px;
   }
}   

@media (max-width: 1024px) {
   .block {
       font-size: 16px;
       height: 330px;
       color: blue;
   }
}

   .block {
       color: red;
   }
}